.shippingOption {
  display: block;
  margin: 1.5rem 2rem;
}

.mat-form-field {
  box-sizing: border-box;
  margin: 0 0.5rem 0 0.5rem;
}

div > button {
  margin-top: 1.5rem;
}

.address-form {

  .addressField {
    width: 82%;
  }

  .cityField {
    width: 50%;
  }

  .provinceField {
    width: 30%;
  }

  .postalCodeField {
    width: 25%;
  }
}

.creditCard-form {
  .cardNumber {
    width: 82%;
  }

  .expiryDate {
    width: 15%;
  }

  .cvvNumber {
    width: 15%;
  }

  .cardholderName {
    width: 48.5%;
  }
}

